.top-links{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: hsla(39, 31%, 57%, 0.973);
}
.right-links{
display: flex;
gap:20px;
margin-right: 20px;
}
em{
font-size: 36px;
align-self: center;}
.name{ 
   font-size: 36px; 
   padding-left: 30px;
}
.intro
{
    background: rgb(247, 241, 207);
    font-family: Arial, Helvetica, sans-serif;
    color:darkolivegreen;
display:flex;
justify-content: center ;
padding: 5px;


}

button {
padding: 8px 16px;
border-radius: 8px;
background: rgb(169, 225, 65);
margin-left: 25px;
margin-top:10px;
margin-bottom:10px;}

h1{margin: 10px 0 10px 0;}
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;}
  a {
      /* this removes the line under the links */
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color:darkslategray;
  }

.container {
    display:flex;
    justify-content: center;
    gap:52px;
    padding:10px;

  }
 .text {
 background:papayawhip;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 border: 4px solid rgb(169, 225, 65);
 box-shadow: 2px 4px 16px rgba(0,0,0,.06);
 border-radius: 50px;
 padding: 20px;
 width: 300px;
 height:150px;
 margin: 15px;  
 text-align: center;
 }

img{
  border-radius: 5px;

}
.flower
{text-align: center;
  
}
  
.quote{
    
    align-self: center;
    margin:  -1rem 1rem 0px 10px;
    padding: 1rem;
}
 .footer {
    display:flex;
    justify-content: center ;
    background: hsla(39, 31%, 57%, 0.973);
    color: darkslategrey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 15px;
}